<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일 업로드 결과 페이지</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h2><span><%= name%></span>님 마이페이지</h2>
      <div>
        <img class="profile" src="<%= imgSrc%>" alt="기본 프로필 이미지" width="200" height="200" />
      </div>
      <div class="result">
        <div><span>아이디</span><span><%= id%></span></div>
        <div><span>비밀번호</span><span><%= pw%></span></div>
        <div><span>이름</span><span><%= name%></span></div>
        <div><span>나이</span><span><%= age%></span></div>
      </div>
    </div>
  </body>
</html>
